name: Rust

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Install GCC
      run: sudo apt-get update && sudo apt-get install -y gcc

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    - name: Run clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Run format check
      run: cargo fmt --all --check

    - name: Create bin directory
      run: mkdir -p bin

    - name: Run inline integration tests
      run: |
        chmod +x ./test_inline.sh
        ./test_inline.sh

    - name: Run function integration tests
      run: |
        chmod +x ./test_func.sh
        ./test_func.sh
